.footer {
  display: flex;
  justify-items: flex-start;
  width: 100%;
  max-width: 912px;
  padding: 0 19px 60px 19px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .footer {
    padding: 0 19px 36px 19px;
  }
}
