.popup-image__close-button {
  position: absolute;
  top: -37.5px;
  right: -37.5px;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-image: url("../../../images/icons/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
}
@media (max-width: 767px) {
  .popup-image__close-button {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
.popup-image__close-button:hover {
  transition: all 0.5s linear;
  opacity: 60%;
}
